- form_tag searches_path, :method => :get, :id => "site_search" do
  %p
    - if defined?(Site) && @site
      = hidden_field_tag :site_id, @site.id
    = text_field_tag :q, params[:q], :title => "Search for pages and snippets"
    %input{:type =>"submit", :value =>"Search"}
- content_for :page_css do
  :sass
    #site_search
      float: right
      margin-top: -60px
      margin-right: 220px
    html>body #site_search
      *margin-right: 20px
      *margin-top: -40px
    * html #site_search
      margin-right: 20px
      margin-top: -40px