#actions
  = pagination_for(@layouts)
  %ul
    %li= link_to image('plus') + " " + t('new_layout'), new_admin_layout_url, :class => 'action_button'
    = render :partial => 'admin/search/search_action'